/*
Primary color: #ff6118 - orange;
secondary color: #18beff - blue;
sec color shade: #2889ff - blue shade;


*/
.navbar .navbar-header {
  float: none;
}
.navbar .navbar-toggle {
  display: block;
}
.navbar .navbar-collapse.collapse {
  display: none!important;
}
.navbar .navbar-nav {
  float: none!important;
}
.navbar .navbar-nav > li {
  float: none;
}
.navbar .navbar-collapse.collapse.in {
  display: block !important;
}
.bg-orange {
	background-color: #18beff;
}
.col-centered {
	margin; 0 auto;
	float: none;
}
.convert-btn {
	background-color: #18beff;
	color: #fff;
}
.convert-btn:hover {
	background-color: #2889ff;
	color: #fff;
}
